<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/另一种比较器：Comparator/src/comparatordemo/cn/ComparatorDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="comparatordemo.cn.ComparatorDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="另一种比较器：Comparator"/>
</launchConfiguration>
