<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/用runnable 实现资源共享/src/runnabledemo2/RunnableDemo2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="runnabledemo2.RunnableDemo2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="用runnable 实现资源共享"/>
</launchConfiguration>
