<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Scanner类输入数据/src/scanner/cn/ScannerDemo4.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="scanner.cn.ScannerDemo4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Scanner类输入数据"/>
</launchConfiguration>
