<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/生产者和消费者/src/xianchencaozuo/demo/ThreadCaseDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="xianchencaozuo.demo.ThreadCaseDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="生产者和消费者"/>
</launchConfiguration>
