<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/同步方法解决同步问题/src/tongbufangfa/cn/TongBuFangFa.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tongbufangfa.cn.TongBuFangFa"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="同步方法解决同步问题"/>
</launchConfiguration>
